@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes animateOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes animateIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hideIcon {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: rotate(720deg);
        opacity: 0;
    }
}

@keyframes showIcon {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }

    100% {
        transform: rotate(720deg);
        opacity: 1;
    }
}

@keyframes hideIconReverse {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: rotate(-720deg);
        opacity: 0;
    }
}

@keyframes showIconReverse {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }

    100% {
        transform: rotate(-720deg);
        opacity: 1;
    }
}

@keyframes rotation {
    from {
        transform: rotate(-360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes animateWave {
    from {
        opacity: 0.5;
    }
    to {
        transform: scale(4);
        opacity: 0;
    }
}

@keyframes swing {
    0%,
    100% {
        transform: rotate(0deg);
    }
    25%,
    75% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(15deg);
    }
}

@keyframes flip {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-180deg);
    }
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(1);
    }
    25%,
    75% {
        transform: scale(0.7);
    }
    50% {
        transform: scale(1);
    }
}

@keyframes textShine {
    0% {
        -webkit-mask-position: 150%;
    }
    60%,
    100% {
        -webkit-mask-position: -50%;
    }
}

@keyframes shake {
    0%,
    50%,
    100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(2.5deg);
    }
    75% {
        transform: rotate(-2.5deg);
    }
}

@keyframes move {
    0%,
    40%,
    100% {
        padding-bottom: 0;
        transform: scale(1);
        opacity: 1;
    }
    56%,
    86% {
        padding-bottom: 15px;
        transform: scale(0.9);
        opacity: 0.5;
    }
}