@mixin fontConfig($family, $size, $color) {
    font-family: $family, Helvetica, Arial, sans-serif;
    font-size: $size;
    color: $color;
}

@mixin flexConfig($display: flex, $dir: initial, $alignItems: initial, $alignText: initial, $justify: initial, $grow: initial) {
    display: $display;
    flex-direction: $dir;
    align-items: $alignItems;
    text-align: $alignText;
    justify-content: $justify;
    flex-grow: $grow;
}