@mixin fontConfig($family, $size, $color, $letSpacing: initial, $lineHeight: initial) {
    font-family: $family, Helvetica, Arial, sans-serif;
    font-size: $size;
    color: $color;
    line-height: $lineHeight;
    letter-spacing: $letSpacing;
}

@mixin flexConfig($display: flex, $dir: initial, $alignItems: initial, $alignText: initial, $justify: initial, $grow: initial, $wrap: initial) {
    display: $display;
    flex-direction: $dir;
    align-items: $alignItems;
    text-align: $alignText;
    justify-content: $justify;
    flex-grow: $grow;
    flex-wrap: $wrap;
}

@mixin createTooltip($bodyTop: initial, $bodyRight: initial, $bodyBottom: initial, $bodyLeft: initial, $triangleTop: initial, $triangleRight: initial, $triangleBottom: initial, $triangleLeft: initial, $bColor: var(--clr-switch-background), $bRadius: 10px, $rotateTriangle: 45deg) {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: $bodyTop;
    right: $bodyRight;
    bottom: $bodyBottom;
    left: bodyLeft;
    background-color: $bColor;
    border-radius: $bRadius;
    padding: 7px 15px;
    white-space: nowrap;
    transition: all 0.5s ease;

    &::before {
        content: "";
        position: absolute;
        top: $triangleTop;
        right: $triangleRight;
        bottom: $triangleBottom;
        left: triangleLeft;
        transform: rotate($rotateTriangle);
        background-color: $bColor;
        padding: 5px;
    }
}
