:root {
    --clr-primary: black;
    --clr-secondary: #f2f2f2;
    --clr-accent: #9e7d5b;
    --clr-border: lightgrey;
    --clr-background: white;
    --clr-shadow-rgb: 0, 0, 0;
    --clr-accent-rgb: 158, 125, 91;

    --clr-card-accent: #F5F7FA;
    --clr-card-border: #DCE1E5;

    --background: var(--clr-background);
    --text-color: var(--clr-primary);
    --nav-container-clr: var(--clr-secondary);
}

.darkMode {
    --clr-primary: #ffffff;
    --clr-secondary: #282828;
    --clr-accent: #9e7d5b;
    --clr-border: #9e7d5b1f;
    --clr-background: #0D0E0F;
    --clr-shadow-rgb: 0, 0, 0;
    --clr-accent-rgb: 158, 125, 91;

    --clr-card-accent: #141617;
    --clr-card-border: #292B2E;

    --background: var(--clr-background);
    --text-color: var(--clr-primary);
    --nav-container-clr: #141617;
}

$breakpoints: (
    esm: 320px,
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1280px
);
