:root {
    --clr-primary: black;
    --clr-secondary: #f2f2f2;
    --clr-accent: #9e7d5b;
    --clr-border: lightgrey;
    --clr-background: white;
    --clr-shadow-rgb: 0, 0, 0;
    --clr-accent-rgb: 158, 125, 91;

    --clr-card-accent: #F5F7FA;
    --clr-card-secondary: #686e73;
    --clr-card-link: #1E5CF0;
    --clr-card-border: #e5e7eb;
    --clr-card-shadow: rgba(0, 0, 0, .16);
    --clr-card-shadow-hover: rgba(0, 0, 0, .16);
    --clr-button-primary: #F1F1F5;
    --clr-button-secondary: #525255;

    --clr-switch-background: #F5F7FA;

    --background: var(--clr-background);
    --text-color: var(--clr-primary);
    --nav-container-clr: var(--clr-secondary); 

    --clr-tag-primary: rgba(56,139,253, 0.1);
    --clr-tag-secondary: #2f81f7;
    --clr-footer-sun: #FF8C00;
}

.darkMode {
    --clr-primary: #ffffff;
    --clr-secondary: #282828;
    --clr-accent: #9e7d5b;
    --clr-border: #9e7d5b1f;
    --clr-background: #0D0E0F;
    --clr-shadow-rgb: 0, 0, 0;
    --clr-accent-rgb: 158, 125, 91;

    --clr-card-accent: #141617; 
    --clr-card-secondary: #888E94;
    --clr-card-link: #1E5CF0;
    --clr-card-border: #292B2E;
    --clr-card-shadow: rgb(99 102 241 / .2);
    --clr-card-shadow-hover: rgb(99 102 241 / .2);
    --clr-button-primary: #1C1C1D;
    --clr-button-secondary: #99989F;

    --clr-switch-background: #281f01;

    --background: var(--clr-background);
    --text-color: var(--clr-primary);
    --nav-container-clr: #141617;
}

$breakpoints: (
    esm: 320px,
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1280px
);
