.resume {
    &__downloader {
        display: flex;
        position: relative;
        flex-direction: column;
        padding: 20px;
        align-items: center;
        position: fixed;
        bottom: -200px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        max-width: 400px;
        border-radius: 20px;
        outline: 2px solid var(--clr-accent);
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(30px);
        box-shadow: 0 11px 11px 0 var(--clr-card-shadow-hover);
        transition: bottom .3s ease;
        z-index: 99;

        &.show {
            bottom: 30px;
            transition: bottom 1s ease;
        }

        @include esm {
            border-radius: 15px;
        }
    }

    &__dowloader-button--container {
        display: flex;
        width: 100%;
        gap: 15px;

        @include esm {
            flex-direction: column;
            gap: 10px;
        }
    }

    &__dowloader-text-wrapper {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 70%;

        @include esm {
            width: 100%;
            justify-content: center;
            text-align: center;
        }
    }

    &__downloader-text {
        @include fontConfig("SFProDisplayRegular", 1rem, var(--text-color));

        @include sm-d {
            font-size: 0.9rem;
        }
    }

    &__dowloader-button-wrapper {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 30%;

        @include esm {
            width: 100%;
            justify-content: center;
        }
    }

    &__downloader-button {
        border: none;
        border-radius: 5px;
        background-color: var(--clr-accent);
        cursor: pointer;

        &:hover {
            transform: scale(0.95);
            transition: transform 0.2s ease;
        }

        &:not(:hover) {
            transform: scale(1);
            transition: transform 0.2s ease;
        }
    }

    &__downloader-button--text {
        @include fontConfig("SFProDisplayRegular", 1rem, white);
        margin: 5px 8px;
    }

    &__dowloader-captcha--container {
        display: flex;
        visibility: hidden;
        gap: 10px;
        max-height: 0;
        transition: max-height 1s ease;
        overflow: hidden;

        @include sm-d {
            flex-direction: column;
            align-items: center;
        }

        &.show {
            visibility: visible;
            max-height: 400px;
            transition: max-height 1s ease;
        }
    }

    &__downloader-close {
        position: absolute;
        background-color: var(--clr-accent);
        border-radius: 50%;
        right: -5px;
        top: -11px;
        width: 25px;
        height: 25px;
        border: 1px solid var(--clr-accent);
        cursor: pointer;

        &:hover {
            transform: scale(0.85);
            transition: transform 0.2s ease;
        }

        &:not(:hover) {
            transform: scale(1);
            transition: transform 0.2s ease;
        }
    }

    &__downloader-close--icon {
        width: 100%;
        height: 100%;
        max-width: 20px;
    }

    &__downloader-error--text {
        @include fontConfig("SFProDisplaySemiBold", 0.8rem, red);
        display: flex;
        align-self: flex-start;
        text-align: center;
        visibility: hidden;
        max-height: 0;
        transition: max-height 0.5s ease, visibility 0.1s ease;

        &.show {
            visibility: visible;
            max-height: 40px;
            transition: max-height 0.5s ease, visibility 0.1s ease;
        }
    }
}

.captcha {
    &__view-wrapper {
        display: flex;
        width: 69%;
        gap: 5px;
        margin-top: 20px;

        @include sm-d {
            width: 100%;
            justify-content: center;
        }
    }

    &__view {
        width: 100%;
        user-select: none;
        border: none;
        background-color: transparent;
        border-radius: 5px;
        padding: 0px;
        pointer-events: none;
        @include fontConfig("SFProDisplayBold", 2rem, var(--clr-accent));

        @include sm-d {
            width: 68%;
            text-align: center;
        }

        @include esm {
            width: 62%;
            font-size: 1rem;
        }
    }

    &__button-refresh {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
        cursor: pointer;
        width: 30px;

        &.clicked {
            transform: rotate(360deg);
            transition: transform 0.5s;
        }

        @include esm {
            width: 15px;
        }
    }

    &__button-refresh--image {
        width: 100%;
        height: 100%;
        padding-top: 3px;
    }

    &__input-wrapper {
        width: 50%;

        @include md-u {
            margin-top: 20px;
        }

        @include sm-d {
            width: 100%;
        }

        @include esm {
            width: 90%;
        }
    }

    &__input {
        width: 100%;
        border: 1px solid var(--clr-accent);
        border-radius: 5px;
        padding: 7px;
        outline: none;
        @include fontConfig("SFProDisplayBold", 1rem, var(--clr-accent));

        &::placeholder {
            color: var(--clr-accent);
        }

        @include sm-d {
            text-align: center;
        }

        @include esm {
            font-size: 0.8rem;
        }
    }
}
