.resume {
    &__small-facts {
        display: flex;
        margin-top: 3%;

        @include sm-d {
            margin-top: 15px;
            flex-direction: column;
        }
    }

    &__small-facts--container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    &__small-facts--row {
        display: flex;
        width: 100%;
        gap: 15px;

        @include sm-d {
            margin-right: 0;
            align-items: center;
            flex-direction: column;
        }

        &:first-child {
            .fact__small:nth-child(3) {
                :hover .citizen__icon {
                    width: 14%;
                    opacity: 1;
                    transition: opacity 0.5s ease, width 0.5s ease;
                }
            }
        }

        &:last-child {
            .fact__small:nth-child(1) {
                :hover .address__circle {
                    width: 5%;
                    opacity: 1;
                    transition: opacity 0.5s ease, width 0.5s ease;
                }
            }

            .fact__small:last-of-type {
                max-width: 800px;

                :hover .lang__icon {
                    width: 15%;
                    opacity: 1;
                    transition: opacity 0.5s ease, width 0.5s ease;

                    @include esm {
                        width: 7%;
                    }
                }

                @include sm-d {
                    max-width: 390px;
                    max-height: 400px;
                }

                @include esm {
                    height: 230px;
                }

                .fact__small-data {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    padding: 1% 10px;

                    @include sm-d {
                        flex-direction: column;
                    }
                }

                .resume__headline {
                    padding: 2%;

                    @include md {
                        padding: 2.8%;
                    }

                    @include esm {
                        padding: 4% 0;
                    }
                }
            }
        }
    }

    &__headline {
    }

    &__headline-icon {
    }

    &__headline-title {
    }
}
.fact {
    &__small {
        display: flex;
        flex-direction: column;
        background-color: var(--clr-resume-card-background);
        border-radius: 15px;
        max-width: 390px;
        max-height: 200px;
        width: 100%;
        height: 100%;

        @include esm {
            width: 100%;
            height: 125px;
        }
    }

    &__small-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2% 10px;
        margin-bottom: 4%;
        height: 100%;

        @include sm-d {
            padding: 4% 10px;
            flex-grow: 1;
        }
    }

    &__small-title {
        @include fontConfig("SFProDisplayBold", clamp(2rem, 1.79rem + 1.1vw, 2.5rem), var(--text-color));

        @include esm {
            font-size: 1.3rem;
        }
    }

    &__small-subtitle {
        @include fontConfig("SFProDisplayMedium", 1.1rem, var(--clr-resume-grey));

        @include esm {
            font-size: 0.85rem;
        }
    }
}
.theme-sensitive {
}
.schedule {
    &__title {
        @include fontConfig("SFProDisplayRegular", clamp(1.5rem, 1.29rem + 1.1vw, 2rem), var(--text-color));
        white-space: nowrap;

        @include esm {
            font-size: 1rem;
        }

        @include md-d {
            padding-top: 3%;
        }
    }
}
.age {
    &__title {
        @include fontConfig("SFProDisplaySemiBold", clamp(1.5rem, 1.29rem + 1.1vw, 2rem), var(--text-color));

        @include esm {
            font-size: 1rem;
        }
    }

    &__title-big {
        @include fontConfig("SFProDisplayBold", clamp(3.3rem, 3.01rem + 1.55vw, 4rem), var(--text-color));

        @include esm {
            font-size: 2rem;
        }
    }
}
.citizen {
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    &__icon {
        width: 0%;
        opacity: 0;
        max-width: 30px;
        margin-right: 3%;
        transition: opacity 0.5s ease, width 0.5s ease;

        @include sm-d {
            width: 0%;
            max-width: 27px;
        }

        @include esm {
            width: 0%;
            max-width: 17px;
        }
    }
}
.address {
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    &__circle {
        opacity: 0;
        width: 0%;
        max-width: 10px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: var(--clr-resume-yellow);
        margin: 3px 2% 0 0;
        transition: opacity 0.5s ease, width 0.5s ease;

        @include esm {
            margin: 1.5px 3% 0 0;
        }
    }
}
.lang {
    &__section {
        width: 229px;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1%;
    }

    &__icon {
        width: 0%;
        opacity: 0;
        max-width: 25px;
        margin-right: 3%;
        transition: opacity 0.5s ease, width 0.5s ease;

        @include esm {
            width: 0%;
            margin-right: 1.5%;
        }
    }

    &__star {
        width: 15%;
        max-width: 25px;
        margin: 3% 1.5px;

        @include esm {
            width: 7%;
        }
    }
}
