.resume {

    &__front {
        display: none;
    }

    &__body {
    }

    &__header {
    }

    &__image-container {
    }

    &__image {
    }

    &__text-container {
    }

    &__title {
    }

    &__subtitle-container {
    }

    &__subtitle {
    }

    &__contact-container {
    }

    &__headline {
    }

    &__headline-icon {
    }

    &__headline-title {
    }

    &__contact-links {
    }

    &__contact-list {
    }

    &__item {
    }

    &__link {
    }

    &__item-icon {
    }

    &__contact-details {
    }

    &__contact-detail {
    }

    &__contact-icon {
    }

    &__contact-link {
    }

    &__small-facts {
    }

    &__small-facts--container {
    }

    &__small-facts--row {
    }

    &__big-facts-container {
    }
}
.container {
}
.theme-sensitive {
}
.fact {

    &__small {
    }

    &__small-data {
    }

    &__small-subtitle {
    }

    &__small-title {
    }

    &__big {
    }

    &__big-data--wrapper {
    }

    &__big-data {
    }

    &__expiriense-section {
    }

    &__big-title {
    }

    &__expiriense-descriptions {
    }

    &__expiriense-description {
    }

    &__big-normal--text {
    }

    &__big-grey--text {
    }

    &__expiriense-entry--wrapper {
    }

    &__expiriense-entry {
    }

    &__expiriense-description--icon {
    }

    &__big-small--text {
    }

    &__expiriense-link {
    }

    &__expiriense-description--wrapper {
    }

    &__big-bold--text {
    }

    &__education-section {
    }

    &__education-descriptions {
    }

    &__education-description {
    }

    &__education-description--wrapper {
    }

    &__education-link {
    }

    &__big-courses-types {
    }

    &__big-courses-type {
    }

    &__big-cources {
    }

    &__big-course {
    }

    &__big-course--date {
    }

    &__big-course--wrapper {
    }

    &__big-course--icon {
    }

    &__big-course--title {
    }

    &__big-course--type {
    }

    &__big-course--certificate {
    }

    &__big-certificate--icon {
    }

    &__big-course--link {
    }

    &__big-stack--container {
    }

    &__big-stack--item {
    }

    &__big-item--wrapper {
    }

    &__big-stack--note {
    }

    &__big-stack--icon {
    }

    &__big-qualities--container {
    }
}
.schedule {

    &__title {
    }
}
.age {

    &__title {
    }

    &__title-big {
    }
}
.citizen {

    &__wrapper {
    }

    &__icon {
    }
}
.address {

    &__wrapper {
    }

    &__circle {
    }
}
.lang {

    &__section {
    }

    &__wrapper {
    }

    &__icon {
    }

    &__star {
    }
}
.bold {
}
.breakWord {
}
.link {

    &__icon {
    }
}
.dot {
}
.topMargin {
}
.grey {
}
.blackBack {
}
.isTopSkill {
}
.lightGreyBack {
}
.redGreyBack {
}
.greyBack {
}
.main {

    &__project-container--front {
        display: flex;
        align-items: center;
        gap: 40px;

        @include sm-d {
            flex-direction: column;
            margin-top: 20px;
            gap: 5px;
        }
    }

    &__project-info--container {
    }

    &__project-info--wrapper {
    }

    &__project-icon--front {
        width: 90%;
    }

    &__project-title {
    }

    &__project-description--container {
    }

    &__project-entry--wrapper {
    }

    &__project-entry {
    }
}
.sub {

    &__projects-container {
    }
}
.project {

    &__card {
    }

    &__card-headline {
    }

    &__card-headline--title {
    }

    &__card-data--container {
    }

    &__card-container--top {
    }

    &__card-container--middle {
        @at-root .resume__front & {
            height: 80%;
        }
    }

    &__card-container--bottom {
    }

    &__card-headline--image {
    }
}