.fact {
    &__big {
        &:nth-child(4) {
            .fact__big-data--wrapper {
                @include sm-d {
                    width: 90%;
                }
            }
        }
    }

    &__big-data--wrapper {
    }

    &__big-data {
    }

    &__big-stack--container {
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 8px;

        @include sm-d {
            justify-content: center;
        }
    }

    &__big-stack--item {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        outline: 1px solid var(--clr-resume-outline);
        box-shadow: 0 2px 4px 0 rgb(74, 74, 74);
        transition: box-shadow 0.5s ease, transform 0.4s ease;

        &:hover {
            box-shadow: 0 4px 8px 0 rgb(55, 55, 55);
            transform: translateY(-3px);
        }
    }

    &__big-item--wrapper {
        display: flex;
        padding: 5px 15px;
    }

    &__big-bold--text {
        @at-root .fact__big-stack--container & {
            margin: 0;
            color: white;

            @include esm {
                font-size: 15px; 
            }
        }
    }

    &__big-stack--note {
        display: flex;
        justify-content: end;
        align-items: center;
        margin: 20px 3% 0 0;
        gap: 5px;
    }

    &__big-stack--icon {
        margin-top: 3px;
        width: 20px;
    }

    &__big-grey--text {
    }
}
.resume {
    &__headline {
    }

    &__headline-icon {
    }

    &__headline-title {
    }
}
.theme-sensitive {
}
.blackBack {
    background-color: var(--clr-resume-black);
}
.isTopSkill {
}
.greyBack {
    background-color: var(--clr-resume-grey);
}
.redGreyBack {
    background-color: var(--clr-resume-redGrey);
}
.lightGreyBack {
    background-color: var(--clr-resume-lightGrey);
}
.smallSize {
    @include esm {
        font-size: 12.4px;
    }
}
