.resume {
    &__big-facts-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
    }

    &__headline {
        @at-root .resume__big-facts-container & {
            padding: 2% 0 1% 0;

            @include esm {
                padding: 6% 0;
            }
        }
    }

    &__headline-icon {
        @at-root .resume__big-facts-container & {
            margin: 0 6px 1% 0;
        }
    }

    &__headline-title {
        @at-root .resume__big-facts-container & {
            margin-bottom: 1%;
        }
    }
}
.fact {
    &__big {
        display: flex;
        flex-direction: column;
        background-color: var(--clr-resume-section-background);
        border-radius: 15px;
        width: 100%;

        @include sm-d {
            max-width: 400px;
        }

        &:nth-child(5) {
            .fact__big-data--wrapper, .fact__big-bold--text {
                margin-top: 0;
            }

            .fact__big-bold--text {
                @include sm-d {
                    align-self: center;
                }
            }
        }
    }

    &__big-data--wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 90%;
        margin: 3% auto;

        @include sm-d {
            margin: 20px auto 25px auto;
            width: 80%;
        }

        @include esm {
            margin: 15px auto 20px auto;
        }
    }

    &__big-data {
        display: flex;
        flex-direction: column;
    }

    &__expiriense-section {
        display: flex;
        gap: 35px;

        @include lg-u {
            margin-left: 10%;
        }

        @include sm-d {
            flex-direction: column;
            margin-left: 5%;
            gap: 15px;
        }

        @include esm {
            margin-left: 3%;
            gap: 10px;
        }
    }

    &__big-title {
        @include fontConfig("SFProDisplayRegular", clamp(1.1rem, 1.06rem + 0.22vw, 1.2rem), var(--clr-resume-grey));
        width: 40%;

        @include esm {
            font-size: 0.85rem;
        }

        @include sm-d {
            width: 100%;
        }

        @include lg-u {
            padding-right: 12px;
        }
    }

    &__expiriense-descriptions {
        width: 60%;

        @include sm-d {
            width: 100%;
        }
    }

    &__expiriense-description {
        width: 100%;
    }

    &__big-normal--text {
        @include fontConfig("SFProDisplayRegular", 1.3rem, var(--text-color), initial, 1.6rem);  

        @include esm {
            line-height: initial;
            font-size: 0.85rem;
        }
    }

    &__big-grey--text {
        @include fontConfig("SFProDisplayRegular", clamp(1rem, 0.96rem + 0.22vw, 1.1rem), var(--clr-resume-grey));

        @include esm {
            font-size: 0.8rem;
        }
    }

    &__expiriense-entry--wrapper {
        width: 100%;
    }

    &__expiriense-entry {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 10px;
    }

    &__expiriense-description--icon {
        width: 12px;

        @include esm {
            width: 7px;
        }
    }

    &__big-small-text {
        @include fontConfig("SFProDisplayRegular", clamp(1rem, 0.95rem + 0.27vw, 1.12rem), var(--text-color));

        @include esm {
            font-size: 0.8rem;
        }
    }

    &__big-section {
        display: flex;
    }

    &__expiriense-description--wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 8px;
    }

    &__expiriense-link {
        @include fontConfig("SFProDisplayRegular", clamp(1rem, 0.96rem + 0.22vw, 1.1rem), var(--text-color));
        margin-left: 5px;
        text-decoration: none;
        cursor: pointer;

        @include esm {
            font-size: 0.8rem;
        }

        &:hover {
            text-decoration: underline;
            text-decoration-color: var(--clr-accent);
            text-decoration-thickness: 1.5px;
            text-underline-offset: 4px;

            @include esm {
                text-decoration-thickness: 1px;
                text-underline-offset: 3px;
            }
        }
    }

    &__big-bold--text {
        @include fontConfig("SFProDisplayBold", clamp(1.1rem, 1.06rem + 0.22vw, 1.2rem), var(--text-color));
        margin-top: 13px;
    }
}
.theme-sensitive {
}
.dot {
    width: 8px;

    @include esm {
        width: 4px;
    }
}
.bold {
    font-family: "SFProDisplaySemiBold";
}

.breakWord {
    word-break: break-all;
}

.link__icon {
    width: 13px;

    &:hover {
        animation: pulse 0.9s ease;
    }

    @include esm {
        width: 9px;
    }
}