.resume {
    &__body {
        padding-top: 3%;
    }

    &__header {
        display: flex;
        align-items: center;

        @include sm-d {
            flex-direction: column;
        }
    }

    &__image-container {
        width: 22%;
        aspect-ratio: 1/1;
        background-color: var(--clr-resume-section-background);
        outline: 2px solid var(--clr-border);
        border-radius: 50%;
        overflow: hidden;
        margin-right: 17px;

        @include lg {
            margin-left: 2.5%;
        }

        @include md {
            width: 29%;
        }

        @include sm-d {
            width: 50%;
            margin: 0 0 17px 0;
        }

        @include esm {
            width: 80%;
        }
    }

    &__image {
        width: 100%;
        padding-top: 10%;
    }

    &__text-container {
        @include flexConfig($display: flex, $dir: column, $justify: center);
        padding: 0 17px;
        width: 40%;

        @include sm-d {
            width: 90%;
            align-items: center;
            padding: 0;
        }
    }

    &__title {
        @include fontConfig("SFProDisplayBold", clamp(2rem, 0.76rem + 6.63vw, 5rem), var(--text-color), initial, 95%);

        @include sm-d {
            white-space: nowrap;
        }

        @include esm {
            font-size: 1.6rem;
        }
    }

    &__subtitle-container {
        display: flex;
        align-items: center;
        margin-top: 3%;
    }

    &__subtitle-icon {
        width: 17px;
        margin: 0 1.5% 1px 1%;

        @include sm-d {
            width: 9%;
            max-width: 23px;
            margin-right: 3%;
        }
    }

    &__subtitle {
        @include fontConfig("SFProDisplayRegular", clamp(1.4rem, 1.3rem + 0.55vw, 1.65rem), var(--text-color), 0.285px);
        white-space: nowrap;

        @include esm {
            font-size: 1rem;
        }
    }

    &__contact-container {
        display: flex;
        flex-direction: column;
        width: 40%;
        max-width: 390px;
        background-color: var(--clr-resume-section-background);
        border-radius: 15px;
        margin-left: auto;

        @include sm-d {
            margin: 25px 0 0 0;
            width: 100%;
        }
    }

    &__headline {
        display: flex;
        justify-content: center;
        padding: 4% 0;
        border-bottom: 1px solid var(--clr-border);
    }

    &__headline-icon {
        width: 6.5%;
        min-width: 13.5px;
        max-width: 20px;
        margin-right: 6px;
    }

    &__headline-title {
        @include fontConfig("SFProDisplaySemiBold", 1.6rem, var(--text-color), 0.285px);

        @include esm {
            font-size: 1.1rem;
        }
    }

    &__contact-links {
        display: flex;
        justify-content: center;
        margin: 5.5% 10px;

        @include sm-d {
            justify-content: space-around;
            margin: 5.5% auto 1% auto;
            width: 90%;
        }
    }

    &__contact-list {
        @include flexConfig($display: flex, $alignItems: center, $justify: space-between);
        list-style: none;

        @include sm-d {
            gap: 10px;
        }

        @include esm {
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 80%;
        }
    }

    &__item {
        display: flex;

        &:not(:last-child) {
            margin-right: 8px;

            @include sm-d {
                margin: 0;
            }
        }

        @include esm {
            justify-content: center;
            width: 25%;
        }
    }

    &__link {
        display: flex;
        border-radius: 50%;
        transition: transform 0.4s ease;

        @include esm {
            width: 80%;
        }

        &:hover {
            outline: 2px solid var(--clr-accent);
            outline-offset: -2px;
            transform: translateY(-3px);
        }
    }

    &__item-icon {
        width: 100%;
        max-width: 45px;

        @include esm {
            max-width: 30px;
        }
    }

    &__contact-details {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0 auto 5% auto;

        @include sm-d {
            margin: 8% auto 5% auto;
        }

        @include esm {
            margin: 6% 0 7% 0;
            gap: 3px; 
        }
    }

    &__contact-detail {
        @include flexConfig($display: flex, $alignItems: center, $justify: left);
        margin: 0 auto;
        width: 77%;

        @include md {
            width: 90%;
        }

        @include sm-d {
            width: 75%;
            justify-content: center;
        }
    }

    &__contact-icon {
        margin: 2px 4% 0 0;
        width: 8%;

        @include sm-d {
            width: 100%;
            max-width: 18px;
            margin: 2px 3% 0 0;
        }

        @include esm {
            max-width: 11px;
        }
    }

    &__contact-link {
        @include fontConfig("SFProDisplayRegular", 1.3rem, var(--text-color), 0.285px);
        text-decoration: none;
        cursor: pointer;

        @include esm {
            font-size: 0.85rem;
        }

        &:hover {
            text-decoration: underline;
            text-decoration-color: var(--clr-accent);
            text-decoration-thickness: 2px;
            text-underline-offset: 6px;

            @include esm {
                text-decoration-thickness: 1px;
                text-underline-offset: 3px;
            }
        }
    }
}
.container {
}

.theme-sensitive {
}
