.fact {
    &__big {

    }

    &__big-data--wrapper {
    }

    &__big-data {
    }

    &__big-courses-types {
        display: flex;
        width: 100%;
        text-align: center;
    }

    &__big-courses-type {
        @include fontConfig("SFProDisplayBold", clamp(0.9rem, 0.86rem + 0.22vw, 1rem), var(--text-color));
        width: 25%;
        margin: 0 5px;
    }

    &__big-course {
        display: flex;
    }

    &__big-course--date {
    }

    &__big-normal--text {
    }

    &__big-name--wrapper {
        display: flex;
    }

    &__big-name--icon {
        object-fit: cover;
        border-radius: 50%;
        width: 40px;
        aspect-ratio: 1/1;
    }

    &__big-name--title {
    }

    &__big-semibold--text {
    }

    &__big-course--type {
    }

    &__big-course--certificate {
    }

    &__big-course--icon {
        width: 25px;
    }

    &__big-small--text {
    }
}
.theme-sensitive {
}
.grey {
}
