.fact {
    &__big {
    }

    &__big-data--wrapper {
    }

    &__big-data {
    }

    &__big-cources {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 3%;
        gap: 30px;
    }

    &__big-courses-types {
        display: flex;
        width: 100%;
        text-align: center;

        @include sm-d {
            display: none;
        }
    }

    &__big-courses-type {
        @include fontConfig("SFProDisplayBold", clamp(0.9rem, 0.78rem + 0.66vw, 1.2rem), var(--text-color));
        margin: 0 5px;

        &:nth-child(1) {
            width: 20%;
        }
        &:nth-child(2) {
            width: 40%;
            padding-left: 6%;
        }
        &:nth-child(3) {
            width: 20%;
        }
        &:nth-child(4) {
            width: 20%;
        }
    }

    &__big-course {
        display: flex;
        width: 100%;

        @include sm-d {
            flex-direction: column;
            gap: 10px;

            &:not(:last-child) {
                border-bottom: 1px solid white;
            
                .fact__big-course--certificate {
                    margin-bottom: 10%;
                }
            }
        }
    }

    &__big-course--date {
        @include flexConfig($display: flex, $alignItems: center, $justify: center);
        width: 20%;

        @include sm-d {
            width: 100%;
        }
    }

    &__big-normal--text {
    }

    &__big-course--wrapper {
        @include flexConfig($display: flex, $alignItems: center, $justify: center, $alignText: center);
        width: 40%;
        margin: 0 10px;

        @include sm-d {
            flex-direction: column;
            margin: 0;
            width: 100%;
            gap: 10px;
        }
    }

    &__big-course--icon {
        object-fit: cover;
        border-radius: 50%;
        width: 40px;
        aspect-ratio: 1/1;
    }

    &__big-course--title {
        @include flexConfig($display: flex, $dir: column, $grow: 1, $alignText: center);
        margin: 0 9px;

        @include sm-d {
            flex-grow: 0;
            margin: 0;
        }
    }

    &__big-course--type {
        @include flexConfig($display: flex, $dir: column, $alignItems: center, $justify: center, $alignText: center);
        width: 20%;
        gap: 2px;

        @include sm-d {
            width: 100%;
        }
    }

    &__big-course--certificate {
        @include flexConfig($display: flex, $alignItems: center, $justify: center);
        width: 20%;

        @include sm-d {
            width: 100%;
        }
    }

    &__big-course--icon {
        width: 50px;
        margin-right: 10px;
        filter: grayscale(100%);
        
        @include sm-d {
            width: 80px; 
            margin: 0;
        }

        @include esm {
            width: 50px;
            margin: 0;
        }
    }

    &__big-certificate--icon {
        width: 30px;

        &:hover {
            transform: scale(0.8);
            transition: transform .5s ease;
        }

        &:not(:hover) {
            transform: scale(1);
            transition: transform .5s ease;
        }
    }

    &__big-course--link {
        @include fontConfig("SFProDisplayRegular", 1rem, var(--clr-resume-grey));
        text-decoration: none;
        cursor: pointer;

        @include sm-d {
            font-size: 1.2rem;
        }

        @include esm {
            font-size: 0.7rem;
        }

        &:hover {
            text-decoration: underline;
            text-decoration-color: var(--clr-accent);
            text-decoration-thickness: 1.5px;
            text-underline-offset: 4px;

            @include esm {
                text-decoration-thickness: 1px;
                text-underline-offset: 3px;
            }
        }
    }
}
.theme-sensitive {
}
.grey {
    color: var(--clr-resume-grey);
}

.link__icon {
    @at-root .fact__big-cources & {
        width: 10px;
        margin: 0;
    }
}
