.fact {
    &__big {
        &:nth-child(3), &:nth-child(4) { 
            .resume__headline {
                .resume__headline-title {
                    @include sm-d {
                        width: 70%;
                        text-align: center;
                    }

                    @include esm {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }

    &__big-data--wrapper {
    }

    &__big-data {
    }

    &__education-section {
        display: flex;
        gap: 35px;

        @include lg-u {
            margin-left: 10%;
        }

        @include sm-d {
            flex-direction: column;
            margin-left: 5%;
            gap: 15px;
        }

        @include esm {
            margin-left: 3%;
            gap: 10px;
        }
    }

    &__education-descriptions {
        width: 60%;

        @include sm-d {
            width: 100%;
        }
    }

    &__education-description {
        width: 100%;
    }

    &__education-description--wrapper {
        width: 100%;
    }

    &__education-link {
        margin-left: 5px;
    }

    &__big-normal--text {
    }

    &__big-small--text {
    }

    &__big-title {
    }
}
.resume {
    &__headline {
    }

    &__headline-icon {
    }

    &__headline-title {
    }
}
.theme-sensitive {
}
.bold {
    font-family: "SFProDisplaySemiBold";
}
.topMargin {
    margin-top: 9px;
}
.link__icon {
}