.fact {
    &__big {
    }

    &__big-data--wrapper {
    }

    &__big-data {
    }

    &__big-normal--text {
    }

    &__big-bold--text {
    }

    &__expiriense-description--icon {
    }

    &__big-small-text {
    }

    &__expiriense-link {
    }
}
.resume {
    &__headline {
    }

    &__headline-icon {
    }

    &__headline-title {
    }
}
.theme-sensitive {
}
.main {
    &__project-container {
        display: flex;
        gap: 10px;
        width: 100%;
        border-bottom: 1px solid var(--clr-border);

        @include md-d {
            border-bottom: none;
        }
    }

    &__project-wrapper {
        display: flex;
        margin-top: 3%;
        gap: 10px;
        width: 80%;

        @include sm-d {
            margin-top: 20px;
            flex-direction: column;
        }

        @include md-d {
            width: 100%;
        }

        @include esm {
            margin-top: 15px;
        }
    }

    &__project-info--container {
        display: flex;
        width: 26%;
        margin-top: 2.7%;

        @include md-d {
            margin-top: 0;
        }

        @include sm-d {
            width: 100%;
            justify-content: center;
        }
    }

    &__project-info--wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include md-d {
            justify-content: center;
        }
    }

    &__project-info--icon {
        width: 100px;
        filter: grayscale(100%);

        @include esm {
            width: 70px;
        }

        &:hover {
            filter: none;
            animation: shake 0.35s ease;
        }
    }

    &__project-title {
        @include fontConfig("SFProDisplaySemiBold", 1.7rem, var(--text-color));
        margin: 5px 0 -5px 0;

        @include esm {
            font-size: 1.1rem;
            margin-bottom: 0.2px;
        }
    }

    &__project-rate--container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        margin: 5px 0;
    }

    &__project-rate--stars {
    }

    &__project-rate--star {
        margin-top: 2px;
        width: 18px;

        @include esm {
            width: 12px;
        }
    }

    &__project-info--link {
        width: 150px;

        @include esm {
            width: 130px;
        }

        &:hover {
            animation: pulse 0.9s ease;
        }
    }

    &__project-info--image {
        width: 100%;
    }

    &__project-description--container {
        display: flex;
        flex-direction: column;
        padding-right: 5px;
        width: 74%;
        gap: 10px;

        @include xl {
            padding-top: 15px;
        }

        @include sm-d {
            width: 100%;
            margin-top: 10px;
            padding: 0;
        }
    }

    &__project-entry--wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__project-entry {
        display: flex;
        gap: 8px;
    }

    &__project-comments--wrapper {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        overflow: hidden;
        gap: 15px;
        width: 20%;
        padding-bottom: 10px;

        @include md-d {
            display: none;
            padding-bottom: 0;
        }

        @include lg-u {
            height: 330px;
        }
    }

    &__project-comments--image {
        width: 100%;
        max-width: 200px;
        filter: grayscale(100%);

        &:hover {
            filter: none;
        }
    }
}
.project {
    &__card {
        display: flex;
        flex-direction: column;
        background-color: var(--clr-resume-card-background);
        border-radius: 15px;
        min-height: 291px;
        box-shadow: none;
        transition: box-shadow 0.5s ease, transform 0.4s ease;

        &:hover {
            box-shadow: 0 11px 11px 0 var(--clr-card-shadow-hover);
            transform: translateY(-4px);
        }
    }

    &__card-headline {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid var(--clr-border);
        height: 50px;

        @include esm {
            height: 35px;
        }
    }

    &__card-headline--title {
        @include fontConfig("SFProDisplaySemiBold", 1.3rem, var(--text-color), 0.285px);

        @include esm {
            font-size: 0.8rem;
        }
    }

    &__card-data--container {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: flex-start;
        margin: 15px;
        gap: 20px;

        @include esm {
            margin: 12px;
        }
    }

    &__card-container--top {
        display: flex;
        align-items: flex-start;
        flex-grow: 1;
        height: 45%;
    }

    &__card-container--middle {
        display: flex;
        align-items: flex-start;
        flex-grow: 1;
        height: 25%;
    }

    &__card-container--bottom {
        display: flex;
        align-items: flex-start;
        flex-grow: 1;
        height: 30%;
    }
}

.grey {
}
.bold {
}
.sub {
    &__projects-container {
        display: flex;
        align-items: stretch;
        gap: 16px;
        margin-top: 5%;

        @include sm-d {
            margin-top: 15%;
            flex-direction: column;
        }
    }
}
.breakWord {
}
.link {
    &__icon {
    }
}
