.fact {
    &__big {
    }

    &__big-data--wrapper {
    }

    &__big-data {
    }

    &__big-qualities--container {
        display: flex;
        align-items: stretch;
        gap: 16px;

        @include sm-d {
            flex-direction: column;
        }
    }

    &__big-small--text {
    }
}
.resume {
    &__headline {
    }

    &__headline-icon {
    }

    &__headline-title {
    }
}
.theme-sensitive {
}
.sub {
    &__projects-container {
    }
}
.project {
    &__card {
    }

    &__card-headline {
        @at-root .fact__big-qualities--container & {
            @include md-d {
                flex-direction: column;
                gap: 5px;
                height: 70px;  
            }

            @include esm {
                height: 50px;  
            }
        }
    }

    &__card-headline--image {
        width: 6.5%;
        min-width: 13.5px;
        max-width: 20px;
        margin-right: 6px;

        @include md-d {
            width: 10%; 
            max-width: 25px;
            margin: 0;
        }
    }

    &__card-headline--title {
    }

    &__card-data--container {
    }
}
