.resume {
    &__facts {
        display: flex;
        margin-top: 3%;

        @include sm-d {
            margin-top: 13%;
            flex-direction: column;
        }
    }

    &__left-container {
        display: flex;
        flex-direction: column;
        width: 35%;

        @include sm-d {
            width: 100%;
            align-items: center;
        }
    }

    &__fact-wrapper--left {
        display: flex;
        flex-direction: column;
        margin-right: 15px;
        width: 100%;
        gap: 20px;

        @include sm-d {
            margin-right: 0;
            align-items: center;
        }
    }

    &__headline {
    }

    &__headline-icon {
    }

    &__headline-title {
    }

    &__right-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include sm-d {
            align-items: center;
            margin-top: 20px;
        }
    }

    &__fact-wrapper--right {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        width: 100%;
        gap: 20px;

        @include sm-d {
            margin-left: 0;
            align-items: center;
        }

        .resume__headline-title,
        .resume__headline-icon {
            @include md-u {
                margin-top: 0.4%;
                margin-bottom: 1.1%;
            }
        }

        .resume__headline {
            @include md-u {
                margin: 1.2% 0;
            }
        }
    }
}

.fact {
    &__small {
        display: flex;
        flex-direction: column;
        background-color: var(--clr-resume-card-background);
        border-radius: 15px;
        max-width: 400px;
        width: 100%;

        @include esm {
            width: 100%;
        }

        &:nth-child(2) {
            .fact__small-subtitle {
                margin-bottom: 2%;
                margin-top: -2%;

                @include sm-d {
                    margin-top: 0;
                }
            }
        }

        &:nth-child(5) {
            .fact__small-data {
                margin-top: 2%;
                gap: 12px;
            }
        }
    }

    &__small-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 3% 10px 9% 10px;
    }

    &__small-title {
        @include fontConfig("SFProDisplayBold", clamp(1rem, 0.38rem + 3.31vw, 2.5rem), var(--text-color));
    }

    &__small-subtitle {
        @include fontConfig("SFProDisplayMedium", clamp(0.6rem, 0.39rem + 1.1vw, 1.1rem), var(--clr-resume-grey));
    }

    &__medium {
        display: flex;
        flex-direction: column;
        background-color: var(--clr-resume-card-background);
        border-radius: 15px;
        width: 100%;

        @include sm-d {
            max-width: 400px;
        }
    }

    &__medium-data {
        display: flex;
        flex-direction: column;
        margin: 1.5% 3% 2.5% 3%;

        @include sm-d {
            margin: 0px 15px 15px 15px;
            text-align: left;
        }

        @include esm {
            margin-top: 5px
        }
    }

    &__medium-normal--text {
        @include fontConfig("SFProDisplayRegular", 1.2rem, var(--text-color), initial, 1.4rem);

        @include esm {
            line-height: initial;
            font-size: 0.85rem;
        }
    }

    &__medium-section {
    }

    &__medium-title {
    }

    &__medium-description {
    }

    &__medium-grey--text {
    }

    &__medium-entry--wrapper {
    }

    &__medium-entry {
    }

    &__medium-description--icon {
        width: 10px;
    }

    &__medium-small-text {
    }

    &__medium-descriptions {
    }

    &__medium-description--wrapper {
    }

    &__medium-link {
    }

    &__medium-link--icon {
        width: 10px;
    }

    &__medium-bold--text {
    }
}

.theme-sensitive {
}

.bold {
}

.schedule {
    &__title {
        @include fontConfig("SFProDisplayRegular", clamp(0.9rem, 0.44rem + 2.43vw, 2rem), var(--text-color));
        white-space: nowrap;
    }
}
.age {
    &__title {
        @include fontConfig("SFProDisplaySemiBold", clamp(1rem, 0.44rem + 2.43vw, 2rem), var(--text-color));
    }

    &__title-big {
        @include fontConfig("SFProDisplayBold", clamp(1.5rem, 0.46rem + 5.52vw, 4rem), var(--text-color));
    }
}
.citizen {
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    &__icon {
        width: clamp(1rem, 0.46rem + 2.87vw, 2.3rem);
        margin-right: 3%;
    }
}
.address {
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    &__circle {
        width: clamp(0.45rem, 0.33rem + 0.66vw, 0.8rem);
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: #ffdd04;
        margin: 2px 2% 0 0;
    }
}
.lang {
    &__section {
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        width: clamp(0.85rem, 0.66rem + 0.99vw, 1.3rem);
        margin-right: 3%;
    }

    &__star {
        width: clamp(0.85rem, 0.66rem + 0.99vw, 1.3rem);
        margin: 3% 1.5px;
    }
}
