.about {
    &__body {
    }

    &__wrapper {
    }

    &__headline-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 7% 0 15% 0;
    }

    &__headline-small {
        @include fontConfig("SFProDisplaySemiBold", 1.4rem, var(--text-color), 0.285px);
        margin: 24px 0;
    }

    &__headline-big {
        @include fontConfig("SFProDisplayBold", clamp(1.8rem, 0.78rem + 5.41vw, 4.25rem), var(--text-color), 0.285px);
        margin-bottom: 24px;
        text-align: center;
    }

    &__section {
        display: flex;
        align-items: center;

        &:nth-child(2) {
            @include sm-d {
                flex-direction: column;
            }
        }

        &:last-of-type {
            margin-top: 10%;

            @include md-d {
                flex-direction: column-reverse;
            }

            @include sm-d {
                margin-bottom: 10%;
            }
        }
    }

    &__image-container {
        width: 40%;

        &:first-of-type {
            margin-right: 32px;

            &:hover {
                animation: shake 0.35s ease;
            }

            img {
                border-radius: 20px;
            }

            @include md-u {
                padding: 20px;
            }

            @include sm-d {
                width: 60%;
                margin-right: 0px;
            }

            @include esm {
                width: 80%;
            }
        }

        &:last-of-type {
            margin-left: 32px;
            transform: scale(1);
            transition: all 0.5s ease;

            @include md-d {
                width: 50%;
                margin: 20px 0;
            }

            @include sm-d {
                width: 60%;
            }

            @include esm {
                width: 80%;
                margin: 25px 0 0 0;
            }

            &:hover {
                transform: scale(1.2);
                transition: all 0.5s ease;
            }
        }
    }

    &__image {
        width: 100%;
    }

    &__text-container {
        display: flex;
        align-items: center;
        width: 60%;

        &:last-of-type {
            margin-left: 32px;

            @include sm-d {
                width: 80%;
                margin-left: 0px;
                margin-top: 32px;
            }
        }

        &:first-of-type {
            margin-right: 32px;

            @include md-d {
                width: 80%;
                margin-right: 0px;
                margin-top: 20px;
            }
        }

        @include esm {
            padding-left: 5px;
        }
    }

    &__headline-wrapper {
        display: flex;
        flex-direction: column;
    }

    &__text {
        @include fontConfig("SFProDisplayRegular", 1.1rem, var(--text-color), 0.285px, 23px);

        @include esm {
            font-size: 0.87rem;
            line-height: 18px;
        }
    }

    &__link {
        @include fontConfig("SFProDisplayBold", clamp(0.87rem, 0.8rem + 0.41vw, 1.06rem), var(--text-color), 0.285px);
        text-decoration: underline;
        text-decoration-color: var(--clr-accent);
        text-decoration-thickness: 2px;
        text-underline-offset: 3px;
        cursor: pointer;

        &:hover {
            text-decoration-thickness: 3px;
        }
    }
}
.container {
    @at-root .about & {
        @include sm-d {
            padding: 20px 8px;
        }
    }
}
.headline {
    @at-root .about & {
        @include fontConfig("SFProDisplaySemiBold", clamp(1.25rem, 0.52rem + 3.87vw, 2.5rem), var(--text-color), 0.285px);
        margin-bottom: 15px;
    }
}
