.connect {
    height: calc(100svh - 165px);

    &__body {
    }

    &__wrapper {
        padding-top: 10%;
        @include flexConfig($display: flex, $dir: column, $justify: center, $grow: 1);

        @include esm {
            align-items: center;
            text-align: center;
        }

        @include lg-u {
            padding-left: 15%;
        }
    }

    &__headline {
    }

    &__details {
        margin-top: 30px;
    }

    &__email {
        @include fontConfig("SFProDisplayHeavy", clamp(1.31rem, 0.35rem + 5.13vw, 2.81rem), var(--text-color));
        text-decoration: none;
        background: linear-gradient(to right, #9e7d5b, #c3a41a, #8eac50, #94715f);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-mask-image: linear-gradient(75deg, rgba(0, 0, 0, 0.65) 30%, #000 50%, rgba(0, 0, 0, 0.65) 70%);   
        -webkit-mask-size: 200%;
        animation: textShine 4s linear infinite; 
    }

    &__info {
        @include fontConfig("SFProDisplayRegular", clamp(0.9375rem, 0.617rem + 1.7094vw, 1.4375rem), var(--text-color), 0.285px);
        margin-top: 15px;

        @include sm-u {
            max-width: 600px;
        }
    }
}
.container {
    @at-root .connect & {
        @include esm {
            padding: 20px 10px; 
        }
    }
}
.headline {
}
