.connect {
    height: calc(100svh - 100px);

    @include landscape {
        height: 100svh;
    }

    &__body {
    }

    &__wrapper {
        padding-top: 10%;
        @include flexConfig($display: flex, $dir: column, $justify: center, $grow: 1);

        @include md-u {
            padding-left: 15%;
        }
    }

    &__headline {
    }

    &__details {
        margin-top: 30px;
    }

    &__email {
        @include fontConfig("SFProDisplayHeavy", clamp(1.3rem, 0.35rem + 5.13vw, 2.81rem), var(--text-color), 0.285px);
        text-decoration: none;
        background: linear-gradient(to right, #9e7d5b, #c3a41a, #8eac50, #94715f);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-mask-image: linear-gradient(75deg, rgba(0, 0, 0, 0.65) 30%, #000 50%, rgba(0, 0, 0, 0.65) 70%);
        -webkit-mask-size: 200%;
        animation: textShine 4s linear infinite;

        &:hover {
            border-bottom: clamp(0.16rem, 0.1rem + 0.35vw, 0.31rem) solid var(--clr-accent);
        }

        @include landscape {
            @include fontConfig("SFProDisplayHeavy", clamp(0.6rem, -0.3157rem + 4.884vw, 2.81rem), var(--text-color), 0.285px);
        }
    }

    &__info {
        @include fontConfig("SFProDisplayRegular", clamp(1.1rem, 0.96rem + 0.75vw, 1.44rem), var(--text-color), 0.285px, 30px);
        margin-top: 15px;
        text-align: left;

        @include sm-u {
            max-width: 600px;
            padding-left: 5px;
        }

        @include sm-d {
            max-width: 500px;
        }

        @include landscape {
            @include fontConfig("SFProDisplayRegular", clamp(0.7rem, 0.39rem + 1.63vw, 1.44rem), var(--text-color), 0.285px, 30px);
        }
    }
}
.container {
    @at-root .connect & {
        @include esm {
            padding: 20px;
        }
    }
}
.headline {
    @at-root .connect & {
        @include landscape {
            @include fontConfig("SFProDisplaySemiBold", clamp(0.6rem, -0.63rem + 6.54vw, 3.56rem), var(--text-color), 0.285px);
        }
    }
}
