.footer {
    border-top: 1px solid var(--clr-border);

    &__body {
        @include flexConfig($display: flex, $alignItems: center, $justify: space-between);

        @include esm {
            flex-direction: column;
            gap: 10px;
        }
    }

    &__quote {
    }

    &__switches {
        display: flex;
        border-radius: 10px;

        @include sm-d {
            flex-direction: column;
            align-items: center;
            position: fixed;
            right: -100%;
            bottom: 65px;
            width: 80%;
            max-width: 250px;
            border-radius: 10px;
            transition: 0.3s;
            box-shadow: 0 5px 10px rgba(var(--clr-shadow-rgb), 0.05);
            background: var(--nav-container-clr);

            &.active {
                right: 30px;
            }
        }
    }

    &__settings {
        display: none;

        @include sm-d {
            display: flex;
        }
    }

    &__switch-theme {
        display: flex;
        flex-direction: column;
        margin-right: 15px;

        :last-child div {
            left: 130px;
        }
    }

    &__switch-lang {
        display: flex;
        flex-direction: column;

        :last-child div {
            left: 142.8px;
        }
    }
}
.container {
    @at-root .footer & {
        @include esm {
            padding: 20px 5px;
        }
    }
}
.quote {
    @include fontConfig("SFProDisplayRegular", clamp(0.91rem, 0.6rem + 1.62vw, 1.25rem), var(--text-color));
}
.switch {
    position: relative;
    display: flex;
    border-radius: 10px;
    overflow: hidden;

    &__button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 65px;
        border: none;
        background-color: var(--clr-card-accent);
        cursor: pointer;
    }

    &__icon {
        width: 15px;
        height: 15px;
        margin: 8px 0 5px 0;
        z-index: 1;
    }

    &__title {
        margin: 0 10px 8px 10px;
        @include fontConfig("SFProDisplayRegular", clamp(0.625rem, 0.5699rem + 0.2941vw, 0.6875rem), var(--text-color));
        z-index: 1;
    }

    &__slider {
        position: absolute;
        top: 6.13%;
        width: 62px;
        height: 87.76%;
        border-radius: 10px;
        background-color: rgb(var(--clr-accent-rgb), 0.2);
        cursor: pointer;
    }
}

.settings {
    &__button {
        display: flex;
        height: 35px;
        border-radius: 10px;
        border: 1px solid var(--clr-accent);
        justify-content: center;
        align-items: center;
        background-color: rgb(var(--clr-accent-rgb), 0.2);
        cursor: pointer;

        &:hover {
            animation: pulse 0.45s 1;
        }
    }

    &__button-icon {
        width: 15px;
        height: 15px;
        margin: 0 8px;
    }

    &__button-title {
        @include fontConfig("SFProDisplayRegular", clamp(0.625rem, 0.5699rem + 0.2941vw, 0.6875rem), var(--text-color));
        margin-right: 8px;
    }
}
