* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    border-bottom: 1px solid lightgrey;

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav-container {
        display: flex;
        justify-content: space-between;
        flex: 1;
        max-width: 845px;

        @include md-d {
            flex-direction: column;
            position: fixed;
            right: 100%;
            top: 5rem;
            border-radius: 10px;
            text-align: center;
            transition: 0.3s;
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);

            &.active {
                right: 0;
            }
        }
    }

    &__humburger {
        display: none;
        margin-right: 10px;

        @include md-d {
            display: flex;
        }
    }
}
.container {
    max-width: 1264px;
    padding: 20px 32px;
    margin: 0 auto;

    @include sm-d {
        padding: 20px 5px;
    }
}
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;

    &__image {
        width: 40px;
        height: 40px;
        object-fit: contain;
    }

    &__text {
        font-family: "SFProDisplayBold", Helvetica, Arial, sans-serif;
        font-size: 25px;
        color: black;
    }
}
.menu {
    &__list {
        display: flex;
        list-style: none;
    }

    &__item {
        display: flex;
        height: 47px;

        &:not(:last-child) {
            margin-right: 8px;
        }
    }

    &__link {
        text-decoration: none;
        padding: 14px 16px;
        border-radius: 12px;
        font-family: "SFProDisplayRegular", Helvetica, Arial, sans-serif;
        font-size: 17px;
        font-weight: 500;
        color: black;

        &:hover {
            background-color: rgb(233, 236, 240);
        }
    }
}
.socials {
    &__list {
        display: flex;
        align-items: center;
        list-style: none;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 12px;

        &:not(:last-child) {
            margin-right: 8px;
        }

        &:hover {
            background-color: rgb(233, 236, 240);
        }
    }

    &__link {
        width: 24px;
        height: 24px;
    }

    &__image {
        width: 100%;
        height: 100%;
    }
}
.humburger {
    display: flex;
    flex-direction: column;
    border: none;
    background: transparent;
    cursor: pointer;

    &__bar {
        width: 25px;
        height: 3px;
        margin: 2.7px auto;
        border-radius: 15%;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #9E7D5B;
    }
}
