* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    border-bottom: 1px solid lightgrey;

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav-container {
        display: flex;
        justify-content: space-between;
        flex: 1;
        max-width: 845px;

        @include md-d {
            flex-direction: column;
            align-items: center;
            position: fixed;
            right: -100%;
            top: 80px;
            width: 80%;
            max-width: 300px;
            border-radius: 10px;
            transition: 0.3s;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);

            &.active {
                right: 4%;
            }
        }
    }

    &__hamburger {
        display: none;
        margin-right: 10px;

        @include md-d {
            display: flex;
        }
    }
}
.container {
    max-width: 1264px;
    padding: 20px 32px;
    margin: 0 auto;

    @include esm {
        padding: 20px 5px;
    }
}
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;

    &__image {
        width: 40px;
        height: 40px;
        object-fit: contain;
    }

    &__text {
        font-family: "SFProDisplayBold", Helvetica, Arial, sans-serif;
        font-size: 25px;
        color: black;
    }
}
.menu {
    &__list {
        display: flex;
        list-style: none;

        @include md-d {
            flex-direction: column;
            align-items: center;
            margin: 5% 0;
        }
    }

    &__item {
        display: flex;
        height: 47px;

        &:not(:last-child) {
            margin-right: 8px;

            @include md-d {
                margin-right: 0px;
                height: 35px;
            }
        }
    }

    &__link {
        text-decoration: none;
        padding: 14px 16px;
        border-radius: 12px;
        font-family: "SFProDisplayRegular", Helvetica, Arial, sans-serif;
        font-size: 17px;
        font-weight: 500;
        color: black;

        &:hover {
            background-color: rgb(158, 125, 91, 0.2);

            @include md-d {
                background-color: transparent;
                color: #9e7d5b;
            }
        }
    }
}
.socials {
    &__list {
        display: flex;
        align-items: center;
        list-style: none;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 12px;

        @include esm {
            width: 35px;
        }

        &:not(:last-child) {
            margin-right: 8px;
        }

        &:hover {
            background-color: rgb(158, 125, 91, 0.2);

            @include md-d {
                background-color: transparent;
            }
        }
    }

    &__link {
        width: 24px;
        height: 24px;
    }

    &__image {
        width: 100%;
        height: 100%;
    }
}
.hamburger {
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;

    &__title {
        padding-right: 10px;
        font-family: "SFProDisplayRegular", Helvetica, Arial, sans-serif;
        font-size: 17px;
        font-weight: 500;
        color: black;
        opacity: 1;
        -webkit-transition: opacity 0.2s ease;
        transition: opacity 0.2s ease;

        &.fade-out {
            opacity: 0;
        }
    }

    &__bars-container {
        display: flex;
        flex-direction: column;

        @include md-d {
            &.active {
                .hamburger__bar:nth-child(2) {
                    opacity: 0;
                }
                .hamburger__bar:nth-child(1) {
                    transform: translateY(6px) rotate(45deg);
                }
                .hamburger__bar:nth-child(3) {
                    transform: translateY(-5px) rotate(-45deg);
                }
            }
        }
    }

    &__bar {
        width: 18px;
        height: 2.5px;
        margin: 1.5px auto;
        border-radius: 15%;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #9e7d5b;
    }
}
