* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    &__body {
    }
}
.container {
}
.logo {
    &__image {
    }

    &__text {
    }
}
.menu {
    &__list {
    }

    &__item {
    }

    &__link {
    }
}
.socials {
    &__list {
    }

    &__item {
    }

    &__link {
    }

    &__image {
    }
}
