.name {
    height: calc(100svh - 89px);

    @media (max-height: 568px) {
        @include landscape {
            height: calc(100svh + 89px);
        }
    }

    &__body {
        @include flexConfig($display: flex, $dir: column, $alignItems: center, $alignText: center, $justify: space-between);
        height: 100%;
    }

    &__image {
        padding: 3px;
        width: 85%;
        max-width: 330px;
        border-radius: 50%;
        border: 1px solid var(--clr-accent);

        @include landscape {
            width: 65%;
        }
    }

    &__title {
        @include fontConfig("SFProDisplayBlack", clamp(1.25rem, -0.2rem + 10.67vw, 4.1rem), var(--text-color));
        margin-top: max(15px, 2.3%);
        background: linear-gradient(to right, #9e7d5b, #c3a41a, #8eac50, #94715f);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-size: 500% auto;
        animation: textShine 5s ease-in-out infinite alternate;

        @keyframes textShine {
            0% {
                background-position: 0% 50%;
            }
            100% {
                background-position: 100% 50%;
            }
        }

        @include landscape {
            @include fontConfig("SFProDisplayBlack", clamp(0.75rem, -0.7rem + 7.71vw, 4.12rem), var(--text-color));
        }
    }

    &__subtitle {
        margin-top: max(10px, 1.15%);
        @include fontConfig("SFProDisplayRegular", clamp(0.94rem, 0.45rem + 3.55vw, 1.88rem), var(--text-color));

        @include esm {
            margin-left: -15px;
            margin-right: -15px;
        }

        @include md-u {
            max-width: 600px;
        }

        @include sm-d {
            max-width: 400px;
        }

        @include landscape {
            @include fontConfig("SFProDisplayRegular", clamp(0.87rem, 0.45rem + 2.29vw, 1.87rem), var(--text-color));
        }
    }
}
.container {
}
.wrapper {
    @include flexConfig($display: flex, $dir: column, $alignItems: center, $alignText: center, $justify: center, $grow: 1);
}
.double-chevron {
    @include flexConfig($display: flex, $dir: column, $justify: end);
    min-height: 70px;
    animation: move 2.5s infinite;
    animation-delay: 0s;

    @keyframes move {
        0%,
        40%,
        100% {
            padding-bottom: 0;
            transform: scale(1);
            opacity: 1;
        }
        56%,
        86% {
            padding-bottom: 15px;
            transform: scale(0.9);
            opacity: 0.5;
        }
    }
}
.arrow {
    display: flex;
    justify-content: space-between;
    width: 15px;

    @include esm {
        width: 10px;
    }

    &:nth-child(2) {
        margin-top: -40%;
    }

    &__half {
        width: 3.75px;
        height: 18.75px;
        border-radius: 5px;
        background-color: var(--clr-primary);

        &:nth-of-type(odd) {
            transform: rotate(-45deg);
        }
        &:nth-of-type(even) {
            transform: rotate(45deg);
        }

        @include esm {
            width: 2.5px;
            height: 12.5px;
        }
    }
}
